<IfModule mod_rewrite.c>
SetEnv HTTP_MOD_REWRITE On
RewriteEngine On
RewriteBase /
</IfModule> # DO NOT REMOVE. CLOUDLINUX PASSENGER  CONFIGURATION BEGIN
PassengerAppRoot "/home/eemqimae/GreatKartProject"
PassengerBaseURI "/"
PassengerPython "/home3/eemqimae/virtualenv/GreatKartProject/3.7/bin/python"

# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

