{% extends 'base.html' %}

{% block content %}
<!-- START MAIN CONTENT -->
<div class="main_content">
    {% if request.GET.command == 'verification' %}
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li>Un lien de vérification vous a été envoyé par mail, veuillez cliquer sur le lien {{request.GET.email}}.</li>
                <li>Deja enregistré ? <a href="{% url 'login' %}">Connexion</a></li>
            </ul>
        </div>
    </nav>
    {% else %}
    <!-- START LOGIN SECTION -->
    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>Connectez-vous</h3>
                            </div>
                            <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    <input type="email" id="singin-email" required="" class="form-control" name="email" placeholder="Votre adresse mail">
                                </div>
                                <div class="form-group mb-3">
                                    <input class="form-control" id="singin-password" required="" type="password" name="password" placeholder="Mot de passe">
                                </div>
                                <div class="login_footer form-group mb-3">
                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                            <label class="form-check-label" for="exampleCheckbox1"><span>Se souvernir</span></label>
                                        </div>
                                    </div>
                                    <a href="{% url 'forgotpassword' %}">Mot de passe oublié ?</a>
                                </div>
                                <div class="form-group mb-3">
                                    <button style="font-size: 1.5rem;" type="submit" class="btn btn-fill-out btn-block" name="login">Connexion</button>
                                </div>
                            </form>
                            <!--
                            <div class="different_login">
                                <span> or</span>
                            </div>
                            <ul class="btn-login list_none text-center">
                                <li><a href="#" class="btn btn-facebook"><i class="ion-social-facebook"></i>Facebook</a></li>
                                <li><a href="#" class="btn btn-google"><i class="ion-social-googleplus"></i>Google</a></li>
                            </ul>
                            -->
                            <div class="form-note text-center">Vous n'avez pas encore de compte SECUSIGNE ? <br><a href="{% url 'register' %}">Créer un compte</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END LOGIN SECTION -->
    
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">	
            <div class="row align-items-center">	
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>Subscribe Our Newsletter</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0" placeholder="Enter Email Address">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    
    </div>
    <!-- END MAIN CONTENT -->
{% endif %}

{% endblock %}