{% extends 'base__.html' %}

{% block content %}
<section class="section-conten padding-y" style="min-height:84vh">
{% if request.GET.command == 'verification' %}
    <div class="container mx-auto alert-info text-center" role="alert" style="max-width: 1024px; margin-top:100px;">
        Un lien de vérification vous a été envoyé par mail, veuillez cliquer sur le lien {{request.GET.email}}.
        <br><br>
        Deja enregistré ? <a href="{% url 'login' %}">Connexion</a>
    </div>
{% else %}
<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
          {% include 'includes/alerts.html' %}
      <h4 class="card-title mb-4">Connexion</h4>
      <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" placeholder="Adresse email" name="email">
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" class="form-control" placeholder="Mot de passe" name="password">
          </div> <!-- form-group// -->

          <div class="form-group">
          	<a href="{% url 'forgotpassword' %}" class="float-right">Mot de passe oublié ?</a>

          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Connexion  </button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">Avez-vous un compte ? <a href="{% url 'register' %}">Créer un compte</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->
{% endif %}
</section>
{% endblock %}