{% extends 'base.html' %}

{% block content %}
<main class="main">
    
    <div class="page-content mt-6 pb-2 mb-10">
        <div class="container">
            
            <div class="login-popup">
                <div class="form-box">
                    <center><p style="font-size: 2rem;"><b>Créer un compte</b></p></center>
                    <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                        
                        <div class="tab-content">
                            <div class="tab-pane active" id="signin">
                                <form action="{% url 'register' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group" style="border: 1px solid blue;">
                                            {{ form.first_name }}
                                        </div> <!-- form-group end.// -->
                                        <div class="form-group" style="border: 1px solid blue;">
                                            {{ form.last_name }}
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row end.// -->
                                    <div class="form-row">
                                        <div class="form-group" style="border: 1px solid blue;">
                                            {{ form.email }}
                                        </div> <!-- form-group end.// -->
                                        <div class="form-group" style="border: 1px solid blue;">
                                              {{ form.phone_number }}
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row.// -->
                                    <div class="form-row">
                                        <div class="form-group" style="border: 1px solid blue;">
                                                {{ form.password }}
                                        </div> <!-- form-group end.// -->
                                        <div class="form-group" style="border: 1px solid blue;">
                                                {{ form.confirm_password }}
                                        </div> <!-- form-group end.// -->
                                    </div>
                                    <div class="form-footer">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="custom-checkbox" id="signin-remember"
                                                name="signin-remember" />
                                            <label class="form-control-label" for="signin-remember">Se souvenir</label>
                                        </div>
                                    </div>
                                    <button class="btn btn-dark btn-block btn-rounded" type="submit">Créer un compte</button>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}