{% load static %}
<!-- START HEADER -->
<header class="version_1">
    <div class="layer"></div><!-- Mobile menu overlay mask -->
    <div class="main_header">
        <div class="container">
            <div class="row small-gutters">
                <div class="col-xl-2 col-lg-2 d-lg-flex align-items-center">
                    <div id="logo">
                        <a href="index.html"><img src="{% static 'ldb/img/logo.jpg' %}" alt="" width="216" height="70"></a>
                    </div>
                </div>
                <nav class="col-xl-7 col-lg-8">
                    <a class="open_close" href="javascript:void(0);">
                        <div class="hamburger hamburger--spin">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                    </a>
                    <!-- Mobile menu button -->
                    <div class="main-menu">
                        <div id="header_menu">
                            <a href="index.html"><img src="{% static 'ldb/img/logo.jpg' %}" alt="" width="100" height="35"></a>
                            <a href="#" class="open_close" id="close_in"><i class="ti-close"></i></a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0);">&nbsp;&nbsp;ACCUEIL</a>
                            </li>
                            <li class="megamenu submenu">
                                <a href="javascript:void(0);" class="show-submenu-mega">Librairie</a>
                                <div class="menu-wrapper">
                                    <div class="row small-gutters">
                                        <div class="col-lg-3">
                                            <h3>LITTÉRATURE GÉNÉRALE</h3>
                                            <ul>
                                                <li><a href="listing-grid-1-full.html">Romans</a></li>
                                                <li><a href="listing-grid-2-full.html">Littérature Africaine</a></li>
                                                <li><a href="listing-grid-3.html">Littérature Française</a></li>
                                                <li><a href="listing-grid-4-sidebar-left.html">Policiers Thrillers Et Science-Fiction</a></li>
                                                <li><a href="listing-grid-5-sidebar-right.html">Théâtre - Poésie - Critiques</a></li>
                                                <li><a href="listing-grid-6-sidebar-left.html">Harmattan Et Prix Spéciaux</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3>BEAUX LIVRES</h3>
                                            <ul>
                                                <li><a href="listing-row-1-sidebar-left.html">Dico -Encyclopedies Et Atlas</a></li>
                                                <li><a href="listing-row-2-sidebar-right.html">Jeux De Société, Jeux Educatifs</a></li>
                                                <li><a href="listing-row-3-sidebar-left.html">Architecture & Maison</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3>UNIVERSITAIRE</h3>
                                            <ul>
                                                <li><a href="cart.html">Médecine, Sciences, Techniques</a></li>
                                                <li><a href="checkout.html">Droit Et Administration</a></li>
                                                <li><a href="confirm.html">Comptabilité, Économie Et Gestion</a></li>
                                                <li><a href="account.html">Management Marketing / Ressources Humaine</a></li>
                                                <li><a href="track-order.html">Dictionnaires, Langues Et Lettres</a></li>
                                                <li><a href="help.html">Bâtiments Et Travaux Publiques</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3>JEUNESSE</h3>
                                            <ul>
                                                <li><a href="cart.html">Activite D'eveille Et D' Apprentissage</a></li>
                                                <li><a href="checkout.html">Documentaires</a></li>
                                                <li><a href="confirm.html">BD, Mangas Et Humour</a></li>
                                                <li><a href="account.html">Littérature Jeunesse</a></li>
                                                <li><a href="track-order.html">Jeux Éducatifs & Jouets</a></li>
                                                <li><a href="help.html">Livres Bains Et Cartons Coloriage</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row small-gutters">
                                        <div class="col-lg-3">
                                            <h3>RÉLIGION</h3>
                                            <ul>
                                                <li><a href="listing-grid-1-full.html">Vie De Saint Et Témoignage / Vie De L'Eglise</a></li>
                                                <li><a href="listing-grid-2-full.html">Bibles</a></li>
                                                <li><a href="listing-grid-4-sidebar-left.html">Amour, Société Et Mariage</a></li>
                                                <li><a href="listing-grid-5-sidebar-right.html">Vie Chrétienne, Catéchisme, Théologie, Enseignement</a></li>
                                                <li><a href="listing-grid-6-sidebar-left.html">Livres De Prière</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                </div>
                                <!-- /menu-wrapper -->
                            </li>
                            <li class="megamenu submenu">
                                <a href="javascript:void(0);" class="show-submenu-mega">INFORMATIQUE & BUREAU</a>
                                <div class="menu-wrapper">
                                    <div class="row small-gutters">
                                        <div class="col-lg-3">
                                            <h3>ORDINATEURS ET TABLETTES</h3>
                                            <ul>
                                                <li><a href="listing-grid-1-full.html">Ordinateurs Portables</a></li>
                                                <li><a href="listing-grid-2-full.html">Tablettes Et IPad</a></li>
                                                <li><a href="listing-grid-3.html">Ecran PC</a></li>
                                                <li><a href="listing-grid-4-sidebar-left.html">Logiciels</a></li>
                                                <li><a href="listing-grid-5-sidebar-right.html">Iprimantes & Scanners</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3>STOCKAGE</h3>
                                            <ul>
                                                <li><a href="listing-row-1-sidebar-left.html">Disques Durs</a></li>
                                                <li><a href="listing-row-2-sidebar-right.html">Clés USB</a></li>
                                                <li><a href="listing-row-3-sidebar-left.html">Cartes Mémoire</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3>JEUX VIDÉO</h3>
                                            <ul>
                                                <li><a href="cart.html">Consoles Et Jeux Vidéo</a></li>
                                                <li><a href="checkout.html">Accessoires Jeux Vidéos</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                </div>
                                <!-- /menu-wrapper -->
                            </li>
                            <li class="megamenu submenu">
                                <a href="javascript:void(0);" class="show-submenu-mega">PAPETERIE</a>
                                <div class="menu-wrapper">
                                    <div class="row small-gutters">
                                        <div class="col-lg-3">
                                            <h3>AGENDAS</h3>
                                            <ul>
                                                <li><a href="listing-grid-1-full.html">Agendas Scolaires</a></li>
                                                <li><a href="listing-grid-2-full.html">Agendas Semainiers</a></li>
                                                <li><a href="listing-grid-3.html">Agendas Thématiques</a></li>
                                                <li><a href="listing-grid-4-sidebar-left.html">Calendriers / Ephéméride</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3>ECRITURE & STYLOS</h3>
                                            <ul>
                                                <li><a href="listing-row-1-sidebar-left.html">Ecriture Courante</a></li>
                                                <li><a href="listing-row-2-sidebar-right.html">Marqueurs / Surligneurs</a></li>
                                                <li><a href="listing-row-3-sidebar-left.html">Encre & Mines</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3>CAHIERS & FEUILLES</h3>
                                            <ul>
                                                <li><a href="cart.html">Cahiers</a></li>
                                                <li><a href="checkout.html">Feuilles & Copies</a></li>
                                                <li><a href="confirm.html">Bloc-Notes</a></li>
                                                <li><a href="account.html">Carnets</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3>CLASSEMENT</h3>
                                            <ul>
                                                <li><a href="cart.html">Classeurs À Levier / Boîte De Classement</a></li>
                                                <li><a href="checkout.html">Chemises À Rabats / Chemise À Soufflet</a></li>
                                                <li><a href="confirm.html">Pochettes Perforées / Autres</a></li>
                                                <li><a href="account.html">Porte-Vues</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row small-gutters">
                                        <div class="col-lg-3">
                                            <h3>ART ET LOISIRS CRÉATIF</h3>
                                            <ul>
                                                <li><a href="listing-grid-1-full.html">Feutres, Marqueurs Et Crayons</a></li>
                                                <li><a href="listing-grid-2-full.html">Modelage - Moulage</a></li>
                                                <li><a href="listing-grid-3.html">Perles - Bijoux - Mode</a></li>
                                                <li><a href="listing-grid-4-sidebar-left.html">Peinture Pour Enfant</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3>DESSIN - COLORIAGE</h3>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                </div>
                                <!-- /menu-wrapper -->
                            </li>
                            <li class="megamenu submenu">
                                <a href="javascript:void(0);" class="show-submenu-mega">JEUNESSE</a>
                                <div class="menu-wrapper">
                                    <div class="row small-gutters">
                                        <div class="col-lg-3">
                                            <h3>DOCUMENTAIRES</h3>
                                            <ul>
                                                <li><a href="">Albums, Encyclopédies Et Découvertes</a></li>
                                                <li><a href="">L'imagerie Des Tout-Petits / Livres À Toucher</a></li>
                                                <li><a href="">Nature & Animaux</a></li>
                                                <li><a href="">Dico Et Encyclopédies</a></li>
                                                <li><a href="">Activités Sportives 6-10 Ans</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3>CONTES ET ROMANS</h3>
                                            <ul>
                                                <li><a href="">Contes & Légendes</a></li>
                                                <li><a href="">Romans</a></li>
                                                <li><a href="">Histoires Du Soir</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3>JEUX ÉDUCATIFS & JOUETS</h3>
                                            <ul>
                                                <li><a href="">Fille(S)</a></li>
                                                <li><a href="">Garçon(S)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                </div>
                                <!-- /menu-wrapper -->
                            </li>
                        </ul>
                    </div>
                    <!--/main-menu -->
                </nav>
                <div class="col-xl-2 col-lg-2 d-lg-flex align-items-center justify-content-end text-end">
                    <a class="phone_top" href="tel://9438843343"><strong><span>Besoin d'assistance ?</span>+225 01 53 20 24 90</strong></a>
                </div>
            </div>
            <!-- /row -->
        </div>
    </div>
    <!-- /main_header -->

    <div class="main_nav Sticky">
        <div class="container">
            <div class="row small-gutters">
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <nav class="categories">
                        <ul class="clearfix">
                            <li><span>
                                    <a href="#">
                                        <span class="hamburger hamburger--spin">
                                            <span class="hamburger-box">
                                                <span class="hamburger-inner"></span>
                                            </span>
                                        </span>
                                        Categories
                                    </a>
                                </span>
                                <div id="menu">
                                    <ul>
                                        <li><span><a href="#0">Collections</a></span>
                                            <ul>
                                                <li><a href="listing-grid-1-full.html">Trending</a></li>
                                                <li><a href="listing-grid-2-full.html">Life style</a></li>
                                                <li><a href="listing-grid-3.html">Running</a></li>
                                                <li><a href="listing-grid-4-sidebar-left.html">Training</a></li>
                                                <li><a href="listing-grid-5-sidebar-right.html">View all Collections</a></li>
                                            </ul>
                                        </li>
                                        <li><span><a href="#">Men</a></span>
                                            <ul>
                                                <li><a href="listing-grid-6-sidebar-left.html">Offers</a></li>
                                                <li><a href="listing-grid-7-sidebar-right.html">Shoes</a></li>
                                                <li><a href="listing-row-1-sidebar-left.html">Clothing</a></li>
                                                <li><a href="listing-row-3-sidebar-left.html">Accessories</a></li>
                                                <li><a href="listing-row-4-sidebar-extended.html">Equipment</a></li>
                                            </ul>
                                        </li>
                                        <li><span><a href="#">Women</a></span>
                                            <ul>
                                                <li><a href="listing-grid-1-full.html">Best Sellers</a></li>
                                                <li><a href="listing-grid-2-full.html">Clothing</a></li>
                                                <li><a href="listing-grid-3.html">Accessories</a></li>
                                                <li><a href="listing-grid-4-sidebar-left.html">Shoes</a></li>
                                            </ul>
                                        </li>
                                        <li><span><a href="#">Boys</a></span>
                                            <ul>
                                                <li><a href="listing-grid-6-sidebar-left.html">Easy On Shoes</a></li>
                                                <li><a href="listing-grid-7-sidebar-right.html">Clothing</a></li>
                                                <li><a href="listing-row-3-sidebar-left.html">Must Have</a></li>
                                                <li><a href="listing-row-4-sidebar-extended.html">All Boys</a></li>
                                            </ul>
                                        </li>
                                        <li><span><a href="#">Girls</a></span>
                                            <ul>
                                                <li><a href="listing-grid-1-full.html">New Releases</a></li>
                                                <li><a href="listing-grid-2-full.html">Clothing</a></li>
                                                <li><a href="listing-grid-3.html">Sale</a></li>
                                                <li><a href="listing-grid-4-sidebar-left.html">Best Sellers</a></li>
                                            </ul>
                                        </li>
                                        <li><span><a href="#">Customize</a></span>
                                            <ul>
                                                <li><a href="listing-row-1-sidebar-left.html">For Men</a></li>
                                                <li><a href="listing-row-2-sidebar-right.html">For Women</a></li>
                                                <li><a href="listing-row-4-sidebar-extended.html">For Boys</a></li>
                                                <li><a href="listing-grid-1-full.html">For Girls</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xl-6 col-lg-7 col-md-6 d-none d-md-block">
                    <div class="custom-search-input">
                        <input type="text" placeholder="Rechercher un article">
                        <button type="submit"><i class="header-icon_search_custom"></i></button>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-3">
                    <ul class="top_tools">
                        <li>
                            <div class="dropdown dropdown-cart">
                                <a href="cart.html" class="cart_bt"><strong>2</strong></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li>
                                            <a href="product-detail-1.html">
                                                <figure><img src="img/products/product_placeholder_square_small.jpg" data-src="img/products/shoes/thumb/1.jpg" alt="" width="50" height="50" class="lazy"></figure>
                                                <strong><span>1x Armor Air x Fear</span>$90.00</strong>
                                            </a>
                                            <a href="#0" class="action"><i class="ti-trash"></i></a>
                                        </li>
                                        <li>
                                            <a href="product-detail-1.html">
                                                <figure><img src="img/products/product_placeholder_square_small.jpg" data-src="img/products/shoes/thumb/2.jpg" alt="" width="50" height="50" class="lazy"></figure>
                                                <strong><span>1x Armor Okwahn II</span>$110.00</strong>
                                            </a>
                                            <a href="0" class="action"><i class="ti-trash"></i></a>
                                        </li>
                                    </ul>
                                    <div class="total_drop">
                                        <div class="clearfix"><strong>Total</strong><span>$200.00</span></div>
                                        <a href="cart.html" class="btn_1 outline">View Cart</a><a href="checkout.html" class="btn_1">Checkout</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /dropdown-cart-->
                        </li>
                        <li>
                            <a href="#0" class="wishlist"><span>Wishlist</span></a>
                        </li>
                        <li>
                            <div class="dropdown dropdown-access">
                                <a href="account.html" class="access_link"><span>Account</span></a>
                                <div class="dropdown-menu">
                                    <a href="account.html" class="btn_1">Sign In or Sign Up</a>
                                    <ul>
                                        <li>
                                            <a href="track-order.html"><i class="ti-truck"></i>Track your Order</a>
                                        </li>
                                        <li>
                                            <a href="account.html"><i class="ti-package"></i>My Orders</a>
                                        </li>
                                        <li>
                                            <a href="account.html"><i class="ti-user"></i>My Profile</a>
                                        </li>
                                        <li>
                                            <a href="help.html"><i class="ti-help-alt"></i>Help and Faq</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /dropdown-access-->
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="btn_search_mob"><span>Search</span></a>
                        </li>
                        <li>
                            <a href="#menu" class="btn_cat_mob">
                                <div class="hamburger hamburger--spin" id="hamburger">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                                Categories
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <div class="search_mob_wp">
            <input type="text" class="form-control" placeholder="Search over 10.000 products">
            <input type="submit" class="btn_1 full-width" value="Search">
        </div>
        <!-- /search_mobile -->
    </div>
    <!-- /main_nav -->
</header>
<!-- /header -->
<!-- END HEADER -->