{% load static %}
<!-- START HEADER -->
<header class="header_wrap">
	<div class="top-header light_skin d-none d-md-block" style="background-color: #e5e5e5;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-4">
                	<div class="header_topbar_info">
                    	<div class="header_offer">
                    		<span  style="color: #000;">secusigne.ci - Quality first !</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                	<div class="d-flex align-items-center justify-content-center justify-content-md-end">

                        <div class="ms-3">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> <span class="me-3" style="color: #000;">Abidjan, Cocody Angré</span>
                            <a href="{% url 'guide' %}"><i class="fa fa-book" aria-hidden="true"></i> <span class="me-3" style="color: #000;">Guide dachat et conseil</span></a>
                        </div>
                        <div class="ms-3">      
                        {% if user.id is None %}
                        <a href="{% url 'login' %}">
                            <i lass="d-icon-user"></i> 
                            &nbsp;&nbsp;Connexion
                        </a>
                        &nbsp;&nbsp; | <a href="{% url 'register' %}">Créer un compte</a>
                        {% else %}
                        Bienvenue {{ user.first_name }} <i class="linearicons-user"></i>
                        <a href="{% url 'logout' %}">
                            <i lass="d-icon-user"></i> Déconnexion
                        </a>
                        {% endif %}
                        <!-- End of Login -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-header dark_skin">
    	<div class="container">
            <div class="nav_block">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img class="logo_light" src="{% static 'shopwise/assets/images/logo_light.png' %}" alt="logo">
                    <img class="logo_dark" src="{% static 'shopwise/assets/images/logo_dark.png' %}" alt="logo">
                </a>&nbsp;
                <div class="product_search_form radius_input search_form_btn">
                    <form method="GET" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input style="font-size: 1.4rem;" class="form-control" placeholder="Entrez un mot clé pour la recherche..." required="" type="text" name="keyword">
                            <button type="submit" class="search_btn3">Recherche</button>
                        </div>
                    </form>
                </div>
                &nbsp;&nbsp;
                <ul class="navbar-nav attr-nav align-items-center">
                    <li><i class="linearicons-phone-wave"></i> <span style="font-size: 2rem;"><b>07 79 52 52 52</b></span></span></li>
                    <li class="dropdown cart_dropdown"><a class="nav-link cart_trigger" href="{% url 'cart' %}"><i class="linearicons-bag2"></i><span class="cart_count">{{ cart_count }}</span></a>
                        <div class="cart_box cart_right dropdown-menu dropdown-menu-right">
                            {% for cart_item in cart_items %}
                                <ul class="cart_list">
                                    <li>
                                        <a href="{{ cart_item.product.get_url }}" class="item_remove"><i class="ion-close"></i></a>
                                        <a href="{{ cart_item.product.get_url }}"><img src="{{ cart_item.product.images.url }}" alt="cart_thumb1">Variable product 001</a>
                                        <span class="cart_quantity">{{ cart_item.quantity }}<span class="cart_amount"> </span>{{ cart_item.product.price }} FCFA</span>
                                    </li>
                                </ul>
                            {% endfor %}
                            <div class="cart_footer">
                                <!--
                                <p class="cart_total"><strong>Sous total:</strong> <span class="cart_price"></span>{{ cart_item.sub_total }} FCFA</p>
                                -->
                                <p class="cart_buttons" style="font-size: 2rem;"><a href="{% url 'cart' %}" class="btn btn-fill-line view-cart">Voir le panier</a><a href="{% url 'checkout' %}" class="btn btn-fill-out checkout">Commander</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom_header dark_skin main_menu_uppercase border-top">
    	<div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 col-sm-6 col-12">
                	<nav class="navbar navbar-expand-lg">
                    	<button class="navbar-toggler side_navbar_toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSidetoggle" aria-expanded="false"> 
                            <span class="ion-android-menu"></span>
                        </button>
                        <div class="pr_search_icon">
                            <a href="javascript:void(0);" class="nav-link pr_search_trigger"><i class="linearicons-magnifier"></i></a>
                        </div> 
                        <div class="collapse navbar-collapse mobile_side_menu" id="navbarSidetoggle">
                            <ul class="navbar-nav">
                                <li class="dropdown">
                                    <a class="nav-link" href="{% url 'home' %}">ACCUEIL</a>  
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">SECTEUR D'ACTIVITES</a>
                                    <div class="dropdown-menu">
                                        <ul> 
                                            <li class="dropdown-header"><h5>LES INDISPENSABLES</h5></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/shop/habitation/">Habitation</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/shop/bureau/">Bureau</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/shop/commerce">Commerce</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/shop/hotel/">Hôtel</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/shop/entrepot/">Entrepôt de stockage</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/shop/chantier/">Chantier BTP</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/shop/hopital/">Hôpital</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/shop/ecole/">Ecole</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown dropdown-mega-menu">
                                    <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">SIGNALETIQUE</a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                    <li class="mega-menu-col col-lg-4">
                                        <ul>
                                            
                                            <li class="dropdown-header"><h5>SIGNALETIQUE & CONSIGNE</h5></li>
                                            <li><a class="dropdown-item nav-link nav_item"  href="https://secusigne.ci/store/category/signaletique-signaletique-et-consigne-secours-et-evacuation/">Secours et évacuation</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-signaletique-et-consigne-incendie/">Incendie</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="http://secusigne.ci/shop/obligation/">Obligation</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/shop/interdiction/">Interdiction</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/shop/danger/">Danger - avertissement</a></li>
                                            <li>
                                                <a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/shop/chimique/">Chimique</a>
                                            </li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-signaletique-et-consigne-environnement/">Environnement</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-signaletique-et-consigne-consigne-de-securite/">Consigne de sécurité</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-signaletique-et-consigne-affichage-sensibilisation">Affichage - sensibilisation</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-signaletique-et-consigne-balisage">Balisage</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-signaletique-et-consigne-marquage-au-sol/">Marquage au sol</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col col-lg-4">
                                        <ul>
                                            <li class="dropdown-header"><h5>PANNEAU ROUTIER</h5></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-panneau-routier-panneau-de-danger/">Panneau de danger</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-panneau-routier-panneau-dinterdiction/">Panneau d’interdiction</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-panneau-routier-panneau-de-stationnement/">Panneau de stationnement</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-panneau-routier-panneau-dobligation/">Panneau d’obligation</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-panneau-routier-panneau-de-chantier/">Panneau de chantier</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="">Panneau directionnel</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col col-lg-4">
                                        <ul>
                                            <li class="dropdown-header"><h5>PLAQUE DE PORTE</h5></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-plaque-de-porte-plaque-nominative-standard/">Plaque nominative standard</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-plaque-de-porte-plaque-information/">Plaque information</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-plaque-de-porte-plaque-interchangeable/">Plaque interchangeable</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/signaletique-plaque-de-porte-plaque-pour-poignee-de-porte/">Plaque pour poignée de porte</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                </li>
                                
                                <li class="dropdown dropdown-mega-menu">
                                    <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">INCENDIE & SECOURS</a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                    <li class="mega-menu-col col-lg-3">
                                        <ul>
                                            
                                            <li class="dropdown-header"><h5>EXTINCTEUR & MATERIEL DE SECOURS</h5></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/incendie-et-secours-extincteurs/">Extincteur</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/incendie-et-secours-couverture-antifeu/">Couverture antifeu</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/incendie-et-secours-detecteur-de-fumee-gaz/">Détecteur de fumée - gaz</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/incendie-et-secours-bac-a-sable/">Bac à sable</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/incendie-et-secours-housse-de-protection/">Housse de protection</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/Incendie-et-secours-support-au-sol-pour-extincteur/">Support au sol pour extincteur</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col col-lg-3">
                                        <ul>
                                            <li class="dropdown-header"><a href="https://secusigne.ci/store/category/incendie-et-secours-kit-incendie-maison/"><h5>KIT INCENDIE MAISON</h5></a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col col-lg-3">
                                        <ul>
                                            <li class="dropdown-header"><a href="https://secusigne.ci/store/category/incendie-et-secours-kit-incendie-vehicule/"><h5>KIT INCENDIE VEHICULE</h5></a></li>
                                            <li class="dropdown-header"><a href="https://secusigne.ci/store/category/incendie-et-secours-kit-pour-vigile/"><h5>KIT POUR VIGILE</h5></a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col col-lg-3">
                                        <ul>
                                            <li class="dropdown-header"><h5>MATERIEL DE SECOURS</h5></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/materiel-de-secours-trousses/">Trousse de secours</a>
                                        </ul>
                                    </li>
                                </ul>
                                </li>


                                <li class="dropdown dropdown-mega-menu">
                                    <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">SURETE & AGRESSION</a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                            <li class="mega-menu-col col-lg-9">
                                                <ul class="d-lg-flex">
                                                    <li class="mega-menu-col col-lg-3">
                                                        <ul> 
                                                            <li class="dropdown-header"><h5>CAMERA</h5></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/surete-et-agression-kit-video-complet/">Kit video complet</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/surete-agression-camera-factice/">Camera factice</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/surete-agression-camera-connecte/">Camera connectée</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-col col-lg-3">
                                                        <ul>
                                                            <li class="dropdown-header"><a href="http://secusigne.ci/store/category/visiophone-et-sonnette/"><h5>VISIOPHONE ET SONNETTE</h5></a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-col col-lg-3">
                                                        <ul>
                                                            <li class="dropdown-header"><a href="https://secusigne.ci/store/category/surete-et-agression-alarme-anti-intrusion/"><h5>ALARME ANTI INTRUSION</h5></a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-col col-lg-3">
                                                        <ul>
                                                            <li class="dropdown-header"><a href="https://secusigne.ci/store/category/surete-et-agression-coffre-fort/"><h5>COFFRE-FORT</h5></a></li>
                                                            <li class="dropdown-header"><a href="https://secusigne.ci/store/category/surete-et-agression-gps/"><h5>GPS ANTI-VOL</h5></a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown dropdown-mega-menu">
                                    <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">DECORATION</a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                    <li class="mega-menu-col col-lg-4">
                                        <ul>
                                            
                                            <li class="dropdown-header"><h5>TABLEAU DECORATIF</h5></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/tableau-decoratif-nature-et-paysage/">Nature et paysage</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/tableau-decoratif-abstrait-urbain/">Abstrait et urbain.</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/tableau-decoratif-enfants/">Enfant</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/tableau-decoratif-animaux/">Animaux</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col col-lg-4">
                                        <ul>
                                            <li class="dropdown-header"><h5>STICKER DECO</h5></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/bande-adhesive/">Bande adhésive pour vitrage</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/sticker-vitrine/">Sticker vitrine</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col col-lg-4">
                                        <ul>
                                            <li class="dropdown-header"><h5>AFFICHAGE</h5></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/affichage-cadre-daffichage/">Cadre d’affichage</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/affichage-presentoir-de-table/">Présentoir de table</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/affichage-rail-daffichage/">Rail d’affichage</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="https://secusigne.ci/store/category/affichage-kakemono/">Kakemono (roll up)</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                </li>
                                <li><a class="nav-link nav_item" href="https://secusigne.ci/store/category/accessoire-de-pose/">ACCESSOIRES DE POSE</a></li> 
                                
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER -->