{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'shopwise/assets/images/signaletique.jpeg' %}" style="width:100%;">
        </div>
  
        <div class="item">
          <img src="{% static 'shopwise/assets/images/incendie.jpeg' %}" style="width:100%;">
        </div>
      
        <div class="item">
          <img src="{% static 'shopwise/assets/images/surete.jpeg' %}" style="width:100%;">
        </div>
  
        <div class="item">
          <img src="{% static 'shopwise/assets/images/decoration.jpeg' %}" style="width:100%;">
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

<!-- END MAIN CONTENT -->
<div class="main_content">

    <div class="middle_footer">
    	<div class="container">
        	<div class="row">
            	<div class="col-12">
                	<div class="shopping_info">
                        <div class="row justify-content-center">
                            <div class="col-md-4">	
                                <div class="icon_box icon_box_style2">
                                    <div class="icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="icon_box_content">
                                    	<h5>+10 ans</h5>
                                        <p>D'expériences</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">	
                                <div class="icon_box icon_box_style2">
                                    <div class="icon">
                                        <i class="flaticon-money-back"></i>
                                    </div>
                                    <div class="icon_box_content">
                                    	<h5>Remise De 5 À 15%</h5>
                                        <p>sur quantité</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">	
                                <div class="icon_box icon_box_style2">
                                    <div class="icon">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <div class="icon_box_content">
                                    	<h5>Paiement</h5>
                                        <p>à la livraison</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- START SECTION BANNER --> 
<div class="section pb_20 small_pt">
	<div class="container">
    	<div class="row">
        	<div class="col-md-4">
            	<div class="sale-banner mb-3 mb-md-4">
                	<a class="hover_effect1" href="{% url 'promotion' %}">
                		<img src="{% static 'shopwise/assets/images/shop_banner_img7.jpg' %}" alt="shop_banner_img7">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
            	<div class="sale-banner mb-3 mb-md-4">
                	<a class="hover_effect1" href="{% url 'vente' %}">
                		<img src="{% static 'shopwise/assets/images/shop_banner_img8.jpg' %}" alt="shop_banner_img8">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
            	<div class="sale-banner mb-3 mb-md-4">
                	<a class="hover_effect1" href="{% url 'catalogue' %}">
                		<img src="{% static 'shopwise/assets/images/shop_banner_img9.jpg' %}" alt="shop_banner_img9">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION BANNER -->


<!-- START SECTION BANNER --> 
<div class="section bg_light_blue2 pb-0 pt-md-0">
	<div class="container">
    	<div class="row align-items-center flex-row-reverse">
            <div class="col-md-6 offset-md-1">
            	<div class="medium_divider d-none d-md-block clearfix"></div>
            	<div class="trand_banner_text text-center text-md-start">
                    <div class="heading_s1 mb-3">
                        <span class="sub_heading">Une question ?   Nos experts vous conseillent +225 27 22 42 27 48</span>
                        <h3>LIVRAISON PARTOUT EN COTE D’IVOIRE</h3>
                    </div>
                    <h5 class="mb-4">POINT RELAIS</h5>
                    <a href="" class="btn btn-fill-out rounded-0">SAN-PEDRO - BOUAKE - DALOA - YAMOUSSOUKRO</a>
                </div>
            	<div class="medium_divider clearfix"></div>
            </div>
            <div class="col-md-5">
                <div class="text-center trading_img">
                    <img src="{% static 'shopwise/assets/images/tranding_img.png' %}" alt="tranding_img">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION BANNER -->

<!-- START SECTION BLOG -->
<div class="section pb_20">
	<div class="container">
        <div class="row justify-content-center">
        	<div class="col-lg-3 col-md-3">
            	<div class="blog_post blog_style2 box_shadow1">
                	<div class="blog_img">
                        <a href="https://secusigne.ci/shop/detail-secusigne/qui-sommes-nous">
                            <img src="{% static 'shopwise/assets/images/assist.jpeg' %}">
                        </a>
                    </div>
                    <div class="blog_content bg-white">
                    	<div class="blog_text">
                            <h5 class="blog_title"><a href="https://secusigne.ci/shop/detail-secusigne/qui-sommes-nous">Qui sommes nous ?</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
            	<div class="blog_post blog_style2 box_shadow1">
                	<div class="blog_img">
                        <a href="https://secusigne.ci/shop/detail-secusigne/conditions-generales-de-vente">
                            <img src="{% static 'shopwise/assets/images/vente.jpeg' %}">
                        </a>
                    </div>
                    <div class="blog_content bg-white">
                    	<div class="blog_text">
                            <h5 class="blog_title"><a href="https://secusigne.ci/shop/detail-secusigne/conditions-generales-de-vente">Conditions Générales De Vente</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
            	<div class="blog_post blog_style2 box_shadow1">
                	<div class="blog_img">
                        <a href="https://secusigne.ci/shop/detail-secusigne/personnalisation">
                            <img src="{% static 'shopwise/assets/images/perso.jpeg' %}">
                        </a>
                    </div>
                    <div class="blog_content bg-white">
                    	<div class="blog_text">
                            <h5 class="blog_title"><a href="https://secusigne.ci/shop/guide/">Guide d'achat et conseil</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
            	<div class="blog_post blog_style2 box_shadow1">
                	<div class="blog_img">
                        <a href="https://secusigne.ci/shop/detail-secusigne/maintenance-sav">
                            <img src="{% static 'shopwise/assets/images/sav.jpeg' %}">
                        </a>
                    </div>
                    <div class="blog_content bg-white">
                    	<div class="blog_text">
                            <h5 class="blog_title"><a href="https://secusigne.ci/shop/detail-secusigne/maintenance-sav">Personnalisation et SAV</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION BLOG -->

<!-- START SECTION SUBSCRIBE NEWSLETTER -->
<div class="section bg_default small_pt small_pb">
	<div class="container">	
    	<div class="row align-items-center">	
            <div class="col-md-6">
            	<div class="newsletter_text text_white">
                    <h3>Newsletter</h3>
                    <p> Souscrivez à notre newsletter pour être informé des nouveautés et produits en promotions</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="newsletter_form2">
                    <form>
                        <input type="text" required="" class="form-control rounded-0" placeholder="Adresse email">
                        <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

{% endblock %}