{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="page-content mb-10 pb-2">
        <div class="container">
            <img src="{% static 'riode/images/secteurs/BUREAU.jpg' %}" class="responsive">

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/bureau/plaque-toilette-homme-modele-1/">
                        <img src="{% static 'riode/images/secteurs/1.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>PLAQUE TOILETTE HOMME MODELE 1</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">2500 FCFA</h3>
                    </a>
                    </center>
                </div>

                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/bureau/plaque-nominative-modele-bureau/">
                        <img src="{% static 'riode/images/secteurs/bureau2.jpg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>PLAQUE NOMINATIVE MODELE BUREAU</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">2000 FCFA</h3>
                    </a>
                    </center>
                </div>

                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/bureau/consigne-de-securite-en-cas-dincendie/">
                        <img src="{% static 'riode/images/secteurs/bureau3.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONSIGNE DE SECURITE EN CAS D’INCENDIE</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">12000 FCFA</h3>
                    </a>
                    </center>
                </div>

            </div>
            

            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/bureau/kakemono-roll-up/">
                        <img src="{% static 'riode/images/secteurs/bureau4.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>KAKEMONO (ROLL UP)</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">45000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/bureau/kit-video-surveillance-complet-6-cameras/">
                        <img src="{% static 'riode/images/secteurs/bureau5.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>KIT VIDEO SURVEILLANCE COMPLET (6 CAMERAS)</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">600000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/bureau/alarme-anti-intrusion-sans-fil-sirenes-interieure-et-exterieure-revolution/">
                        <img src="{% static 'riode/images/secteurs/bureau6.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>ALARME ANTI INTRUSION SANS FIL SIRENES INTERIEURE ET EXTERIEURE (REVOLUTION)</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">250000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/bureau/defense-de-fumer-class-pour-bureau/">
                        <img src="{% static 'riode/images/secteurs/bureau7.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>DEFENSE DE FUMER CLASS POUR BUREAU</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">5000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/bureau/cadre-pochette-adhesive-pour-bureau/">
                        <img src="{% static 'riode/images/secteurs/bureau8.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CADRE POCHETTE ADHESIVE POUR BUREAU</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">6000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/bureau/conception-de-plans-devacuation-pour-bureau/">
                        <img src="{% static 'riode/images/secteurs/bureau9.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONCEPTION DE PLANS D’ÉVACUATION POUR BUREAU</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">60000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/bureau/extincteur-dioxyde-de-carbone-co2-2kg-bur/">
                        <img src="{% static 'riode/images/secteurs/2kg_bur.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>EXTINCTEUR DIOXYDE DE CARBONE<br> (CO2) 2kg BUR</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">75000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/bureau/extincteur-dioxyde-de-carbone-co2-5kg-bur/">
                        <img src="{% static 'riode/images/secteurs/5kg_bur.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>EXTINCTEUR DIOXYDE DE CARBONE <br>(CO2) 5kg BUR</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">99000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}