{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- START MAIN CONTENT -->
<div class="main_content">

	<!-- START SECTION SHOP -->
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
				<div class="toggle_info">
					<center><h2  style="color: red;">MON PANIER</h2></center>
				</div>
				</div>
				<div class="col-lg-4">
				<div class="toggle_info">
					<center><h2>FINALISER LA COMMANDE</h2></center>
					</div>
				</div>
				<div class="col-lg-4">
				<div class="toggle_info">
					<center><h2>PAIEMENT</h2></center>
				</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
				  <div class="medium_divider"></div>
				  <div class="divider center_icon"><i class="linearicons-credit-card"></i></div>
				  <div class="medium_divider"></div>
				  <center><h3 style="color: red;">Définissez votre quantité</h3></center>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="table-responsive shop_cart_table">
						<table class="table">
							<thead>
								<tr>
									<th class="product-thumbnail">Image</th>
									<th class="product-name">Produit</th>
									<th class="product-price">Prix</th>
									<th class="product-quantity">Quantité</th>
									<th class="product-remove">Supprimer</th>
								</tr>
							</thead>
							<tbody>
								{% for cart_item in cart_items %}
									<tr>
										<td class="product-thumbnail"><a href="{{ cart_item.product.get_url }}"><img src="{{ cart_item.product.images.url }}" alt="product1"></a></td>
										<td class="product-name" data-title="Product"><a href="{{ cart_item.product.get_url }}">{{ cart_item.product.product_name }}</a></td>
										<td class="product-price" data-title="Price">{{ cart_item.price }} FCFA</td>
										<td class="product-quantity" data-title="Quantity"><div class="quantity">
										<a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}"><input type="button" value="-" class="minus"></a>
										<input type="text" name="quantity" value="{{ cart_item.quantity }}" title="Qty" class="qty" size="4">
										<form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
											{% csrf_token %}
											{% for item in cart_item.variations.all %}
												<input type="hidden" name="{{ item.variation_category | lower }}"
												value="{{ item.variation_value | capfirst }}">
											{% endfor %}
										<!--<a href="{% url 'add_cart' cart_item.product.id %}"><input type="button" value="+" class="plus"></a>-->	
										<button type="submit" style="height: 4.5rem; font-size: 1.8rem">+</button>
										</form>
									</div></td>
										<td class="product-remove" data-title="Remove"><a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}"><i class="ti-close"></i></a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="medium_divider"></div>
					<div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
					<div class="medium_divider"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<!--
					<div class="heading_s1 mb-3">
						<h6>Calculate Shipping</h6>
					</div>
					-->
				</div>
				<div class="col-md-6">
					<div class="border p-3 p-md-4">
						<div class="table-responsive">
							<table class="table">
								<tbody>
								</tbody>
								<tfoot>
									<tr>
									  <th>Total</th>
									  <td class="product-subtotal">{{ grand_total }} FCFA</td>
								  </tr>
								</tfoot>
							</table>
						</div>

						<div class="row">
							<div class="col-md-6">
								<a href="{% url 'checkout' %}" class="btn btn-danger"><h3 style="color: #fff;">Confirmer la commande</h3></a>

							</div>
							&nbsp;
							<div class="col-md-4">
								<a href="{% url 'home' %}" class="btn btn-primary"><h3 style="color: #fff;">Continuez vos achats</h3></a> 

							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END SECTION SHOP -->
	
	<!-- START SECTION SUBSCRIBE NEWSLETTER -->
	<div class="section bg_default small_pt small_pb">
		<div class="container">	
			<div class="row align-items-center">	
				<div class="col-md-6">
					<div class="heading_s1 mb-md-0 heading_light">
						<h3>Subscribe Our Newsletter</h3>
					</div>
				</div>
				<div class="col-md-6">
					<div class="newsletter_form">
						<form>
							<input type="text" required="" class="form-control rounded-0" placeholder="Enter Email Address">
							<button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- START SECTION SUBSCRIBE NEWSLETTER -->
	
	</div>
	<!-- END MAIN CONTENT -->

{% endblock %}