{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main_content">

	<!-- START SECTION SHOP -->
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="table-responsive shop_cart_table">
						<table class="table">
							<thead>
								<tr>
									<th><span>Produit</span></th>
									<th></th>
									<th><span>Prix unitaire</span></th>
									<th></th>
									<th></th>
									<th><span>Quantité</span></th>
									<th>Sous total</th>
								</tr>
							</thead>
							<tbody>
								{% for cart_item in cart_items %}
								<tr>
									<td class="product-thumbnail"><a href="#"><img src="{{ cart_item.product.images.url }}" alt="product1"></a></td>
									<td class="product-name" data-title="Product"><a href="#">{{ cart_item.product.product_name }}</a></td>
									<td class="product-price" data-title="Price">{{ cart_item.price }} FCFA</td>
									<td></td>
									<td></td>
									<td class="product-quantity" data-title="Quantity"><div class="quantity">
									<a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}"><input type="button" value="-" class="minus"></a>
									<input type="text" name="quantity" value="{{ cart_item.quantity }}" title="Qty" class="qty" size="4">
									<form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
										{% csrf_token %}
										{% for item in cart_item.variations.all %}
											<input type="hidden" name="{{ item.variation_category | lower }}"
											value="{{ item.variation_value | capfirst }}">
										{% endfor %}
										<button class="btn btn-light" type="submit" class="plus" style="margin-top: -5px;">
											+</button>
									</form>
								  </div></td>
									  <td class="product-subtotal" data-title="Total">{{ cart_item.sub_total }} FCFA</td>
									<td class="product-remove" data-title="Remove"><a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" onclick="return confirm('Are you sure in delete this item ?')"><i class="ti-close"></i></a></td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								
								<tr>
									<td colspan="6" class="px-0">
										<!--
										<div class="row g-0 align-items-center">
	
											<div class="col-lg-4 col-md-6 mb-3 mb-md-0">
												<div class="coupon field_form input-group">
													<input type="text" value="" class="form-control form-control-sm" placeholder="Enter Coupon Code..">
													<div class="input-group-append">
														<button class="btn btn-fill-out btn-sm" type="submit">Apply Coupon</button>
													</div>
												</div>
											</div>
											<div class="col-lg-8 col-md-6  text-start  text-md-end">
												<button class="btn btn-line-fill btn-sm" type="submit">Update Cart</button>
											</div>
										</div>
										-->
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<!--
			<div class="row">
				<div class="col-12">
					<div class="medium_divider"></div>
					<div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
					<div class="medium_divider"></div>
				</div>
			</div>
			-->
			<div class="row">
				<div class="col-md-6">
					<!--
					<div class="heading_s1 mb-3">
						<h6>Calculate Shipping</h6>
					</div>
					<form class="field_form shipping_calculator">
						<div class="form-row">
							<div class="form-group col-lg-12 mb-3">
								<div class="custom_select">
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-lg-6 mb-3">
								<input required="required" placeholder="State / Country" class="form-control" name="name" type="text">
							</div>
							<div class="form-group col-lg-6 mb-3">
								<input required="required" placeholder="PostCode / ZIP" class="form-control" name="name" type="text">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-lg-12 mb-3">
								<button class="btn btn-fill-line" type="submit">Update Totals</button>
							</div>
						</div>
					</form>
					-->
				</div>
				<div class="col-md-6">
					<div class="border p-3 p-md-4">
						<div class="heading_s1 mb-3">
							<!--
							<h6>Cart Totals</h6>
							-->
						</div>
						<div class="table-responsive">
							<table class="table">
								<tbody>
									<tr>
										<td class="cart_total_label">Total</td>
										<td class="cart_total_amount">{{ total }} FCFA</td>
									</tr>
									<!--
									<tr>
										<td class="cart_total_label">Shipping</td>
										<td class="cart_total_amount">Free Shipping</td>
									</tr>
									-->
									<tr>
										<td class="cart_total_label">Total général</td>
										<td class="cart_total_amount"><strong>{{ grand_total }} FCFA</strong></td>
									</tr>
								</tbody>
							</table>
						</div>
						<a href="{% url 'checkout' %}" class="btn btn-fill-out">Procéder au paiement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END SECTION SHOP -->
	
	<!-- START SECTION SUBSCRIBE NEWSLETTER 
	<div class="section bg_default small_pt small_pb">
		<div class="container">	
			<div class="row align-items-center">	
				<div class="col-md-6">
					<div class="heading_s1 mb-md-0 heading_light">
						<h3>Subscribe Our Newsletter</h3>
					</div>
				</div>
				<div class="col-md-6">
					<div class="newsletter_form">
						<form>
							<input type="text" required="" class="form-control rounded-0" placeholder="Enter Email Address">
							<button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
	<!-- START SECTION SUBSCRIBE NEWSLETTER -->
	
	</div>
{% endblock %}