{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="page-content mb-10 pb-2">
        
        <div class="container">
            <img src="{% static 'riode/images/secteurs/CHANTIER_BTP.jpg' %}" class="responsive">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/chantier-btp/consigne-pour-chantier-btp-modele-1/">
                        <img src="{% static 'riode/images/secteurs/chantier1.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONSIGNE POUR CHANTIER BTP MODELE 1</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">35000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/chantier-btp/consigne-pour-chantier-btp-modele-2/">
                        <img src="{% static 'riode/images/secteurs/chantier2.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONSIGNE POUR CHANTIER BTP MODELE 2</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">15000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/chantier-btp/consigne-pour-chantier-btp-modele-3/">
                        <img src="{% static 'riode/images/secteurs/chantier3.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONSIGNE POUR CHANTIER BTP MODELE 3</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">22000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/chantier-btp/panneau-de-chantier-chantier-interdit-au-public-pour-le-btp/">
                        <img src="{% static 'riode/images/secteurs/chantier4.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>PANNEAU DE CHANTIER « CHANTIER INTERDIT AU PUBLIC » POUR LE BTP</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">15000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/chantier-btp/panneau-temporaire-ak5-attention-travaux-en-cours-pour-btp/">
                        <img src="{% static 'riode/images/secteurs/chantier5.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>PANNEAU TEMPORAIRE AK5 « ATTENTION TRAVAUX EN COURS » POUR BTP</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">90000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/chantier-btp/panneau-de-chantier-attention-sortie-dengins-pour-le-btp/">
                        <img src="{% static 'riode/images/secteurs/chantier6.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>PANNEAU DE CHANTIER « ATTENTION SORTIE D’ENGINS » POUR LE BTP</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">40000 FCFA</h3>
                    </a
                    </center>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/chantier-btp/plot-de-balisage-deplacable-pour-le-btp/">
                        <img src="{% static 'riode/images/secteurs/chantier7.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>PLOT DE BALISAGE DEPLAÇABLE POUR LE BTP</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">70000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/chantier-btp/ruban-de-balisage/">
                        <img src="{% static 'riode/images/secteurs/chantier8.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>RUBAN DE BALISAGE</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">7000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/chantier-btp/cone-de-signalisation/">
                        <img src="{% static 'riode/images/secteurs/chantier9.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONE DE SIGNALISATION</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">15000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/chantier-btp/rail-daffichage-pour-le-btp/">
                        <img src="{% static 'riode/images/secteurs/chantier10.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>RAIL D’AFFICHAGE POUR LE BTP</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">35000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}