{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="page-content mb-10 pb-2">
        
        <div class="container">
            <img src="{% static 'riode/images/secteurs/COMMERCE.jpg' %}" class="responsive">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/commerce/kit-video-surveillance-complet-4-cameras-pour-le-commerce/">
                        <img src="{% static 'riode/images/secteurs/commerce1.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>KIT VIDEO SURVEILLANCE COMPLET</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">400000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/commerce/alarme-anti-intrusion-sans-fil-sirenes-interieure-et-exterieure-revolution/">
                        <img src="{% static 'riode/images/secteurs/commerce2.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>ALARME ANTI INTRUSION SANS FIL SIRENES INTERIEURE ET EXTERIEURE (REVOLUTION)</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">250000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/commerce/kit-vigile-circulation-de-vehicule-pour-le-commerce/">
                        <img src="{% static 'riode/images/secteurs/commerce3.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>KIT VIGILE CIRCULATION DE VEHICULE POUR LE COMMERCE</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">3500 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
             <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/commerce/defense-de-fumer-class-modele-commerce/">
                        <img src="{% static 'riode/images/secteurs/commerce4.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>DEFENSE DE FUMER CLASS MODEL COMMERCE</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">5000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/commerce/consigne-de-securite-en-cas-dincendie-modele-commerce/">
                        <img src="{% static 'riode/images/secteurs/commerce5.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONSIGNE DE SECURITE EN CAS D’INCENDIE MODEL COMMERCE</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">12000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/commerce/chevalet-de-rue/">
                        <img src="{% static 'riode/images/secteurs/commerce6.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CHEVALET DE RUE</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">75000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
             <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/commerce/sticker-vitrine-solde-modele-3/">
                        <img src="{% static 'riode/images/secteurs/commerce7.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>STICKER VITRINE SOLDE MODELE 3</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">5000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/commerce/presentoire-de-table-eco-base-arrondi/">
                        <img src="{% static 'riode/images/secteurs/commerce8.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>PRESENTOIRE DE TABLE ECO (BASE ARRONDI)</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">5000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/commerce/rail-daffichage-pour-le-commerce/">
                        <img src="{% static 'riode/images/secteurs/commerce9.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>RAIL D’AFFICHAGE POUR LE COMMERCE</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">35000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/commerce/extincteur-dioxyde-de-carbone-co2-2kg-com/">
                        <img src="{% static 'riode/images/secteurs/2kg_com.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>EXTINCTEUR DIOXYDE DE CARBONE <br>(CO2) 2kg COM</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">75000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/commerce/extincteur-dioxyde-de-carbone-co2-5kg-com/">
                        <img src="{% static 'riode/images/secteurs/5kg_com.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>EXTINCTEUR DIOXYDE DE CARBONE <br>(CO2) 5kg COM</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">99000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
        </div>
    </div>
</main>
{% endblock %}