{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="page-content mb-10 pb-2">
        
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/signaletique-signaletique-et-consigne-danger-avertissement-rectangulaire/">
                        <img src="{% static 'riode/images/demos/demo1/familles/danger_rectangulaire.jpg' %}" 
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h3 style="font-size:1.2em;"><b>Danger rectangulaire</b></h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/signaletique-signaletique-et-consigne-danger-avertissement-triangulaire/">
                        <img src="{% static 'riode/images/demos/demo1/familles/danger_triangulaire.jpg' %}"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h3 style="font-size:1.2em;"><b>Danger triangulaire</b></h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/signaletique-signaletique-et-consigne-danger-avertissement-consignation/">
                        <img src="{% static 'riode/images/demos/demo1/familles/etiquette_consignation.jpg' %}"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h3 style="font-size:1.2em;"><b>Etiquette consignation</b></h3>
                    </a>
                    </center>
                </div>
            </div>
            
        </div>
    </div>
</main>
{% endblock %}