{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="page-content mb-10 pb-2">
        <div class="container">
            <img src="{% static 'riode/images/secteurs/ECOLE.jpg' %}" class="responsive">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                        <a href="https://secusigne.ci/store/category/ecole/plot-de-balisage-deplacable-avec-panneau/">
                            <img src="{% static 'riode/images/secteurs/ecole1.jpeg' %}" alt="Blue Pinafore Denim Dress"
                                width="280" height="237" style="background-color: #f2f3f5;" />
                            <h4>PLOT DE BALISAGE DEPLAÇABLE <br>AVEC PANNEAU</h4>
                            <h3 style="color: #ff0000; font-size:1.2em;">60000 FCFA</h3>
                        </a>
                        </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                        <a href="https://secusigne.ci/store/category/ecole/rail-daffichage/">
                            <img src="{% static 'riode/images/secteurs/ecole2.jpeg' %}" alt="Blue Pinafore Denim Dress"
                                width="280" height="237" style="background-color: #f2f3f5;" />
                            <h4>RAIL D’AFFICHAGE</h4>
                            <h3 style="color: #ff0000; font-size:1.2em;">35000 FCFA</h3>
                        </a>
                        </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                        <a href="https://secusigne.ci/store/category/ecole/defense-de-fumer-class-model-ecole/">
                            <img src="{% static 'riode/images/secteurs/ecole3.jpeg' %}" alt="Blue Pinafore Denim Dress"
                                width="280" height="237" style="background-color: #f2f3f5;" />
                            <h4>DEFENSE DE FUMER CLASS MODEL ECOLE</h4>
                            <h3 style="color: #ff0000; font-size:1.2em;">5000 FCFA</h3>
                        </a>
                        </center>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                        <a href="https://secusigne.ci/store/category/ecole/consigne-de-securite-en-cas-dincendie-model-ecole/">
                            <img src="{% static 'riode/images/secteurs/ecole4.jpeg' %}" alt="Blue Pinafore Denim Dress"
                                width="280" height="237" style="background-color: #f2f3f5;" />
                            <h4>CONSIGNE DE SECURITE EN CAS <br>D’INCENDIE MODEL ECOLE</h4>
                            <h3 style="color: #ff0000; font-size:1.2em;">12000 FCFA</h3>
                        </a>
                        </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                        <a href="https://secusigne.ci/store/category/ecole/cadre-pochette-adhesive-model-ecole/">
                            <img src="{% static 'riode/images/secteurs/ecole5.jpeg' %}" alt="Blue Pinafore Denim Dress"
                                width="280" height="237" style="background-color: #f2f3f5;" />
                            <h4>CADRE POCHETTE ADHESIVE MODEL ECOLE</h4>
                            <h3 style="color: #ff0000; font-size:1.2em;">6000 FCFA</h3>
                        </a>
                        </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                        <a href="https://secusigne.ci/store/category/ecole/kit-vigile-circulation-de-vehicule-pour-ecole/">
                            <img src="{% static 'riode/images/secteurs/ecole7.jpeg' %}" alt="Blue Pinafore Denim Dress"
                                width="280" height="237" style="background-color: #f2f3f5;" />
                            <h4>KIT VIGILE CIRCULATION <br>DE VEHICULE POUR ECOLE</h4>
                            <h3 style="color: #ff0000; font-size:1.2em;">30000 FCFA</h3>
                        </a>
                        </center>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                        <a href="https://secusigne.ci/store/category/ecole/extincteur-dioxyde-de-carbone-co2-5kg-ecol/">
                            <img src="{% static 'riode/images/secteurs/carbone5.jpg' %}" alt="Blue Pinafore Denim Dress"
                                width="280" height="237" style="background-color: #f2f3f5;" />
                            <h4>EXTINCTEUR DIOXYDE DE CARBONE <br>(CO2) 5kg ECOL</h4>
                            <h3 style="color: #ff0000; font-size:1.2em;">99000  FCFA</h3>
                        </a>
                        </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                        <a href="https://secusigne.ci/store/category/ecole/extincteur-dioxyde-de-carbone-co2-2kg-ecol/">
                            <img src="{% static 'riode/images/secteurs/carbone2.jpg' %}" alt="Blue Pinafore Denim Dress"
                                width="280" height="237" style="background-color: #f2f3f5;" />
                            <h4>EXTINCTEUR DIOXYDE DE CARBONE <br>(CO2) 2kg ECOL</h4>
                            <h3 style="color: #ff0000; font-size:1.2em;">75000   FCFA</h3>
                        </a>
                        </center>
                </div>
            </div>
            
        </div>
        
    </div>
</main>
{% endblock %}