{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="page-content mb-10 pb-2">
        <div class="container">
            <img src="{% static 'riode/images/secteurs/ENTREPOT.jpg' %}" class="responsive">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/entrepot-de-stockage/defense-de-fumer-grand-format/">
                        <img src="{% static 'riode/images/secteurs/entrepot1.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>DEFENSE DE FUMER GRAND FORMAT</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">25000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/entrepot-de-stockage/consigne-de-securite-en-cas-dincendie-pour-entrepot/">
                        <img src="{% static 'riode/images/secteurs/entrepot2.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONSIGNE DE SECURITE EN CAS D’INCENDIE POUR ENTREPOT</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">15000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/entrepot-de-stockage/consigne-magasin-de-stockage/">
                        <img src="{% static 'riode/images/secteurs/entrepot3.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONSIGNE MAGASIN DE STOCKAGE</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">35000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/entrepot-de-stockage/consigne-manipulation-des-extincteurs-pour-entrepot/">
                        <img src="{% static 'riode/images/secteurs/entrepot4.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONSIGNE MANIPULATION DES EXTINCTEURS POUR ENTREPOT</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">5000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/entrepot-de-stockage/plot-de-balisage-deplacable-entrepot">
                        <img src="{% static 'riode/images/secteurs/entrepot5.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>PLOT DE BALISAGE DEPLAÇABLE</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">70000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/entrepot-de-stockage/pochoir-peinture-pour-sol-ou-mur-chariot-elevateur/">
                        <img src="{% static 'riode/images/secteurs/entrepot6.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>POCHOIR PEINTURE POUR SOL OU MUR (CHARIOT ELEVATEUR)</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">35000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/entrepot-de-stockage/ruban-de-marquage-au-sol-interieur-pour-entrepot/">
                        <img src="{% static 'riode/images/secteurs/entrepot7.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>RUBAN DE MARQUAGE AU SOL INTERIEUR</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">20000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/entrepot-de-stockage/support-deplacable-pour-extincteur-pour-entrepot/">
                        <img src="{% static 'riode/images/secteurs/entrepot8.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>SUPPORT DEPLAÇABLE POUR EXTINCTEUR POUR ENTREPOT</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">75000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/entrepot-de-stockage/kit-video-surveillance-complet-8-cameras-pour-entrepot/">
                        <img src="{% static 'riode/images/secteurs/entrepot9.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>KIT VIDEO SURVEILLANCE COMPLET (8 CAMERAS) POUR ENTREPOT</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">850000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/entrepot-de-stockage/extincteur-dioxyde-de-carbone-co2-5kg-entrep/">
                        <img src="{% static 'riode/images/secteurs/extincteur5.jpg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>EXTINCTEUR DIOXYDE DE CARBONE <br>(CO2) 5kg ENTREP</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">99000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/entrepot-de-stockage/extincteur-dioxyde-de-carbone-co2-2kg-entrep/">
                        <img src="{% static 'riode/images/secteurs/extincteur2.jpg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>EXTINCTEUR DIOXYDE DE CARBONE <br>(CO2) 2kg ENTREP</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">75000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
        </div>
    </div>
</main>
{% endblock %}