{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="main">
    <div class="page-content mb-10 pb-2">
        
        <div class="container">
            <img src="{% static 'riode/images/secteurs/HABITATION.jpg' %}" class="responsive">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/habitation/camera-factice-exterieure-tube-modele-habitation/">
                        <img src="{% static 'riode/images/secteurs/camera1.jpg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CAMERA FACTICE EXTERIEURE<br>TUBE MODELE HABITATION</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">19000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/habitation/camera-connectee-xiaomi-mi-360home-security-camera-2k/">
                        <img src="{% static 'riode/images/secteurs/camera2.jpg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CAMERA CONNECTEE XIAOMI MI 360°HOME SECURITY CAMERA 2</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">45920 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/habitation/consigne-incendie-habitation/">
                        <img src="{% static 'riode/images/secteurs/pic1.jpg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONSIGNE INCENDIE HABITATION</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">3500 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/habitation/kit-incendie-pour-habitation-eco/">
                        <img src="{% static 'riode/images/secteurs/habitation4.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>KIT INCENDIE POUR HABITATION (ECO)</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">49000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/habitation/kit-incendie-pour-habitation-premium/">
                        <img src="{% static 'riode/images/secteurs/habitation5.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>KIT INCENDIE POUR HABITATION (PREMIUM)</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">180000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/habitation/kit-incendie-vehicule-pour-habitation-eco/">
                        <img src="{% static 'riode/images/secteurs/habitation6.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>KIT INCENDIE VEHICULE POUR HABITATION (ECO)</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">35000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/habitation/kit-incendie-vehicule-pour-habitation-premium/">
                        <img src="{% static 'riode/images/secteurs/habitation7.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>KIT INCENDIE VEHICULE POUR HABITATION (PREMIUM)</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">95000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/habitation/kit-video-surveillance-complet-pour-habitation4-cameras/">
                        <img src="{% static 'riode/images/secteurs/habitation8.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>KIT VIDEO SURVEILLANCE COMPLET POUR HABITATION(4 CAMERAS)</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">400000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/habitation/alarme-anti-intrusion-sans-fil-sirenes-interieure-et-exterieure-revolution-pour-habitation/">
                        <img src="{% static 'riode/images/secteurs/habitation9.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>ALARME ANTI INTRUSION SANS FIL SIRENES INTERIEURE ET EXTERIEURE POUR HABITATION (REVOLUTION)</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">250000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/habitation/coffre-fort-de-voyage-avec-serrure-electronique-pour-habitation/">
                        <img src="{% static 'riode/images/secteurs/habitation10.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>COFFRE-FORT DE VOYAGE AVEC SERRURE ELECTRONIQUE POUR HABITATION</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">45000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/habitation/feuille-espoir-pour-la-deco/">
                        <img src="{% static 'riode/images/secteurs/habitation11.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>FEUILLE ESPOIR POUR LA DECO</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">25000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
        </div>
    </div>
</main>
{% endblock %}