{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="page-content mb-10 pb-2">
        <div class="container">
            <img src="{% static 'riode/images/secteurs/HOPITAL.jpg' %}" class="responsive">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hopital/cadre-pochette-adhesive/">
                        <img src="{% static 'riode/images/secteurs/hopital1.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CADRE POCHETTE ADHESIVE</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">6000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hopital/plaque-nominative/">
                        <img src="{% static 'riode/images/secteurs/hopital2.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>PLAQUE NOMINATIVE</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">2000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hopital/plaque-toilette-directionnel-gauche-ou-droite-modele-2/">
                        <img src="{% static 'riode/images/secteurs/hopital3.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>PLAQUE TOILETTE DIRECTIONNEL GAUCHE OU DROITE MODELE 2</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">7000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hopital/defense-de-fumer-class-pour-hopital/">
                        <img src="{% static 'riode/images/secteurs/hopital4.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>DEFENSE DE FUMER CLASS POUR HOPITAL</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">5000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hopital/consigne-de-securite-en-cas-dincendie-model-hopital/">
                        <img src="{% static 'riode/images/secteurs/hopital5.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONSIGNE DE SECURITE EN CAS D’INCENDIE MODEL HÔPITAL</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">12000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hopital/conception-de-plans-devacuation-model-hopital/">
                        <img src="{% static 'riode/images/secteurs/hopital6.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONCEPTION DE PLANS D’ÉVACUATION MODEL HÔPITAL</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">60000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hopital/kit-video-surveillance-complet-8-cameras-pour-hopital/">
                        <img src="{% static 'riode/images/secteurs/hopital7.png' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>KIT VIDEO SURVEILLANCE COMPLET (8 CAMERAS) POUR HÔPITAL</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">850000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hopital/terre-fertile-pour-hopital/">
                        <img src="{% static 'riode/images/secteurs/hopital8.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>TERRE FERTILE POUR HÔPITAL</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">25000 FCFA</h3>
                    </a>
                    </center>
                </div>

                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hopital/extincteur-dioxyde-de-carbone-co2-2kg-hop/">
                        <img src="{% static 'riode/images/secteurs/2kg_hop.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>EXTINCTEUR DIOXYDE DE CARBONE <br>(CO2) 2kg HOP</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">75000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hopital/extincteur-dioxyde-de-carbone-co2-5kg-hop/">
                        <img src="{% static 'riode/images/secteurs/5kg_hop.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>EXTINCTEUR DIOXYDE DE CARBONE <br>(CO2) 5kg HOP</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">99000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
        </div>
        
    </div>
</main>
{% endblock %}