{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="page-content mb-10 pb-2">
        
        <div class="container">
            <img src="{% static 'riode/images/secteurs/HOTEL.jpg' %}" class="responsive">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hotel/defense-de-fumer-class/">
                        <img src="{% static 'riode/images/secteurs/hotel1.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>DEFENSE DE FUMER CLASS</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">5000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hotel/consigne-de-securite-en-cas-dincendie-pour-des-hotels/">
                        <img src="{% static 'riode/images/secteurs/hotel2.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONSIGNE DE SECURITE EN CAS D’INCENDIE POUR DES HOTELS</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">12000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hotel/plaque-poignee-motif-noir-ne-pas-deranger-nettoyer-la-chambre/">
                        <img src="{% static 'riode/images/secteurs/hotel3.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>PLAQUE POIGNEE MOTIF NOIR « NE PAS DERANGER / NETTOYER LA CHAMBRE »</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">5000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hotel/kakemono-roll-up-pour-les-hotels/">
                        <img src="{% static 'riode/images/secteurs/hotel4.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>KAKEMONO (ROLL UP) POUR LES HOTELS</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">45000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hotel/presentoire-de-table-eco-base-arrondi-pour-les-hotels/">
                        <img src="{% static 'riode/images/secteurs/hotel5.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>PRESENTOIRE DE TABLE ECO (BASE ARRONDI) POUR LES HOTELS</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">5000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hotel/conception-de-plans-devacuation-pour-les-hotels/">
                        <img src="{% static 'riode/images/secteurs/hotel6.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CONCEPTION DE PLANS D’ÉVACUATION POUR LES HOTELS</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">60000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
            

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hotel/cadre-clic-clac-sur-support-deplacable-hot/">
                        <img src="{% static 'riode/images/secteurs/cadr_hot.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>CADRE CLIC CLAC SUR <br>SUPPORT DEPLAÇABLE HOT</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">A PARTIR DE 60000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hotel/boat-hot/">
                        <img src="{% static 'riode/images/secteurs/boat_hot.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>BOAT HOT</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">A PARTIR DE 25000  FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hotel/plaque-interchangeable-alu-ecochic-hot/">
                        <img src="{% static 'riode/images/secteurs/pl_hot.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>PLAQUE INTERCHANGEABLE <br>ALU ECOCHIC HOT</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">A PARTIR DE 20000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hotel/extincteur-dioxyde-de-carbone-co2-2kg-hot/">
                        <img src="{% static 'riode/images/secteurs/2kg_hot.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>EXTINCTEUR DIOXYDE DE CARBONE <br>(CO2) 2kg HOT</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">75000 FCFA</h3>
                    </a>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/hotel/extincteur-dioxyde-de-carbone-co2-5kg-hot/">
                        <img src="{% static 'riode/images/secteurs/5kg_hot.jpeg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                        <h4>EXTINCTEUR DIOXYDE DE CARBONE <br>(CO2) 5kg HOT</h4>
                        <h3 style="color: #ff0000; font-size:1.2em;">99000 FCFA</h3>
                    </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}