{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="page-content mb-10 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/signaletique-signaletique-et-consigne-interdiction/">
                        <img src="{% static 'riode/images/demos/demo1/familles/interdiction_circulaire.jpg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                    </a>
                    <h3 style="font-size:1.2em;"><b>INTERDICTION CIRCULAIRE</b></h3>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4">
                    <center>
                    <a href="https://secusigne.ci/store/category/signaletique-signaletique-et-consigne-interdiction-rectangulaire/">
                        <img src="{% static 'riode/images/demos/demo1/familles/interdiction_rectangulaire.jpg' %}" alt="Blue Pinafore Denim Dress"
                            width="280" height="237" style="background-color: #f2f3f5;" />
                    </a>
                    <h3 style="font-size:1.2em;"><b>INTERDICTION RECTANGULAIRE</b></h3>
                    </center>
                </div>
            </div>
            
        </div>
    </div>
</main>
{% endblock %}