{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- START MAIN CONTENT -->
<div class="main_content">

  <!-- START SECTION SHOP -->
  <div class="section">
    <div class="container">
          
          <div class="row">
            <div class="col-md-8">
                <h4 class="title title-simple text-left">RESUME DE VOTRE COMMANDE</h4>
                <br>
        <form method="post" action="{% url 'payments' %}">
            {% csrf_token %}
            <div class="row">
                        <h4><b>INFORMATIONS DE LIVRAISON</b></h4>
                        <input name="orderID" value="{{order.id}}" style="display: none;">

                        <div class="card-body">
                            <p class="card-text mb-0">{{ order.full_name }}</p>
                            <p class="card-text mb-0">{{ order.full_address }}</p>
                            <p class="card-text mb-0">{{ order.state }}</p>
                            <p class="card-text mb-0">{{ order.email}}</p>
                            <p class="card-text mb-0">{{ order.phone}}</p>
                            {% if order.order_note %}
                            <b>Order note: </b>{{ order.order_note }}
                            {% endif %}
                        </div>                    
                    <!--
                    <select name="moyens" class="form-control">
                        
                        {% for m in moyens %}
                        <option value="{{ m.status }}" selected="selected">{{ m.user_id }}{{ m.status }}</option>
                        {% endfor %}
                    </select>
                    -->
                    <table class="shipping">
                        <tbody>
                        <tr class="sumnary-shipping shipping-row-last">
                            <td colspan="2">
                                <h4><b>MOYENS DE PAIEMENT</b></h4>
                                <ul>
                                    <li>
                                        <div class="custom-radio">
                                            <input type="radio" class="form-check-input" id="radio1" name="payment_method"
                                            value="Paiement à la livraison" checked>
                                     <label class="form-check-label" for="radio1">
                                        
                                        <h4><img src="{% static 'images/cashicon.png' %}"><b> Payer cash á la livraison</b></h4>
                                         <p style="color:#000; margin-left: 50px;">
                                            Travaux personnalisés: Avance 50% sur commande
                                            Si à la livraison, vous désisté, seulement 10% de votre avance vous sera 
                                            rembourser sous 15j.
                                            
                                         </p>
                                     </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-radio">
                                            <input type="radio" class="form-check-input" id="radio2" name="payment_method"
                                       value="Mobile Money">
                                <label class="form-check-label" for="radio2">
                                    <h4><img src="{% static 'images/owa.jpg' %}"><b> Orange Money ou Wave</b></h4>
                                    
                                    <p style="color:#000; margin-left: 50px;">
                                        Un seul numéro orange money ou wave : 07 79 11 11 00
                                        Capturer votre reçu à l’écran ou faite une photo d’un reçu physique 
                                        et envoyez le nous par whatsApp et mentionnez dans votre message 
                                        votre nom et le numéro de la commande.

                                    </p>
                                </label>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <div class="custom-radio">
                                            <input type="radio" class="form-check-input" id="radio3" name="payment_method" value="Paiement par chèque">
                                <label class="form-check-label" for="radio3">
                                    <h4><img src="{% static 'images/cheque.png' %}"><b> Payer par chèque</b></h4>
                                    <P style="color:#000; margin-left: 50px;">
                                        Vous serez livrez après encaissement du chèque.

                                    </P>
                                </label>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody></table>
                    <p>
                        <b><h4>
                            NB: Au montant total de votre commande, il sera ajouté les frais de livraison qui vous seront communiqués
                        </h4></b>
                    </p>
                    <div class="form-checkbox justify-content-center">
                        <input type="checkbox" class="custom-checkbox" id="hide-newsletter-popup" name="hide-newsletter-popup" required="">
                        <label for="hide-newsletter-popup"><h4 style="color: red;">J'ai lu les conditions générales de vente et j'y adhère sans réserve.</h4></label>
                    </div>
                    <br>
                    <!--
                    <div class="card">
                        <h5 class="card-header">Review Products</h5>
                        <div class="card-body">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside">
                                                <img src="{{ cart_item.product.images.url }}" class="img-sm">
                                            </div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">
                                                    {{ cart_item.product.product_name }}</a>
                                                <p class="text-muted small">
                                                    {% if cart_item.variations.all %}
                                                    {% for item in cart_item.variations.all %}
                                                    {{ item.variation_category | capfirst }} :
                                                    {{ item.variation_value | capfirst}}<br>
                                                    {% endfor %}
                                                    {% endif %}
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label>{{ cart_item.quantity }}</label>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">${{ cart_item.sub_total }}</var>
                                            <small class="text-muted"> ${{ cart_item.product.price }} each </small>
                                        </div> 
                                    </td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    -->

            </div> <!-- row.// -->
            </div>
              <div class="col-md-4">
                  <div class="order_review">
                      <div class="heading_s1">
                          <h4>Votre commande</h4>
                      </div>
                      <div class="table-responsive order_table">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>Produit</th>
                                      <th>Quantité</th>
                                      <th>Prix unitaire</th>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for cart_item in cart_items %}
                                  <tr>
                                      <td>{{ cart_item.product.product_name }}</td>
                                      <td>{{ cart_item.quantity }}</td>
                                      <td>{{ cart_item.price }} FCFA</td>
                                  </tr>
                                {% endfor %}
                                  </tr>
                              </tbody>
                              <tfoot>
                                  <tr>
                                    <th>TOTAL</th>
                                    <td></td>
                                    <td class="product-subtotal">{{ grand_total }} FCFA</td>
                                </tr>
                              </tfoot>
                          </table>
                      </div>
                      <button type="submit" class="btn btn-fill-out btn-block" name="submit">Confirmer</button>
                    </form>
                    </div>
              </div>
          </div>
      </div>
  </div>
  <!-- END SECTION SHOP -->
  
  </div>
  <!-- END MAIN CONTENT -->

{% endblock %}